
h1 {
    font-family: 'Nunito', Helvetica, Arial;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.8em;
    min-width: 340px;
    color:red;
}

body {
    font-family: 'Nunito', Helvetica, Arial;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.8em;
    min-width: 340px;
    color: #695b5b;
}



button:active{
    color: white;
    background:orange;
}

/* aktivierter button*/

button:focus{
  color: white;
  background:orange;
  border: none;
}



/* AXES */
/* ticks */
.axis line{
stroke: #706f6f;
stroke-width: 0.5;
shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
stroke: #706f6f;
stroke-width: 0.7;
shape-rendering: crispEdges;
}

/* axis text */
.axis text {
fill: #2b2929;
font-family: Georgia;
font-size: 120%;
}

/* LINE CHART */
path.line-0 {
fill: none;
stroke: #ed3700;
}

path.line-1 {
fill: none;
stroke: #2b2929;
stroke-dasharray: 2;
}

path.line-2 {
fill: none;
stroke: #9c9c9c;
stroke-dasharray: 6;
}

.serie_label {
fill: #2b2929;
font-family: Georgia;
font-size: 80%;
}




table {
  width: 900px;
  text-align: left;
  border-collapse: collapse;
  margin: 0 0 1em 0;
  caption-side: top;
  font-family: Arial, Helvetica, sans-serif;
}

caption, td, th {
  padding: 0.6em;
}

tbody {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

tbody th, tfoot th {
  border: 20;
}


th.year {
  width: 5%;
}

th.president {
  width: 20%;
}

th.director {
  width: 20%;
}

th.title {
  width: 55%;
}

tfoot {
  text-align: center;
  color: #555;
  font-size: 0.8em;
}

td {
  font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
}

td.report {
  font-weight: bold;
}
